.body {
    background-color: #efeff7;

    .slide-banner {
        padding: 50px 15%;

        .view-lesson {
            color: orange;
            border-color: orange;
        }

        .view-lesson:hover {
            background-color: orange;
            color: #efeff7;
        }

        .slide-lesson {
            padding: 8px 16px;

            .list-lessons {
                max-width: 100%;

                #carousel-1 {
                    padding-bottom: 20px;
                    position: relative;
                    align-items: space;
                }

                .carousel-control-prev {
                    height: 30px;
                    position: absolute;
                    top: 100%;

                    .carousel-control-prev-icon {
                        width: 40px;
                        height: 40px;
                        background-image: url("~/assets/images/icon_prev.png");
                    }

                    .carousel-control-prev-icon:hover {
                        content: "<";
                        font-size: 55px;
                        color: orange;
                    }
                }

                .carousel-control-next {
                    height: 30px;
                    position: absolute;
                    top: 100%;

                    .carousel-control-next-icon {
                        width: 40px;
                        height: 40px;
                        background-image: url("~/assets/images/icon_next.png");
                    }
                }

                .carousel-indicators {
                    position: absolute;
                    top: 100%;

                    li {
                        width: 100%;
                        background-color: #ffa5000d;
                    }

                    .active {
                        background-color: orange;
                    }
                }

                .lesson {
                    min-width: 50%;
                    padding: 16px;
                    border-radius: 5px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    .image-lesson {
                        img {
                            object-fit: contain;
                            width: 100%;
                            height: 150px;
                        }
                    }

                    .info-lesson {
                        background-color: #fff;
                        padding: 15px 15px 15px 0;

                        @media screen and (max-width: 1024px) {
                            margin-left: 0 !important;
                            margin-right: 0 !important;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        .time-lesson {
                            color: #7d7c82;
                        }

                        .author-lesson {
                            display: flex;
                            align-items: center;

                            .ava-author {
                                img {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                }
                            }

                            .name-author {
                                color: #7d7c82;
                            }
                        }

                        .carousel-control-prev {
                            background-color: red;
                        }

                    }
                }
            }
        }
    }

    .recommended {
        background-color: #fff;
        padding: 50px 15%;

        .recommended-content {
            padding: 0 16px;
            flex-wrap: wrap;

            .recommend-title {}

            .recommend-filter {
                .button-view {
                    button {
                        color: red;
                        border-color: red;
                    }

                    button:hover {
                        color: #fff;
                        background-color: red;
                    }
                }
            }
        }

        .list-music {
            .info-music {
                border-radius: 10px;
                filter: drop-shadow(0px 8px 24px rgba(100, 100, 111, 0.2));

                .header-info {
                    background-color: #fff;
                    border-bottom: 0.5px solid #7e7d7d;
                    padding: 4% 0%;

                    .music-image {
                        img {
                            width: 100%;
                            height: 200px;
                            object-fit: contain;
                        }
                    }

                    .rate-music {
                        align-items: center;
                        flex-wrap: wrap;
                        text-align: center;
                        .rating-music {
                            color: #8f8aa7;

                            .icon-rating {
                                color: #f4b74a;
                            }
                        }

                        .view-music {
                            color: #8f8aa7;

                            .icon-rating {
                                color: #dd5214;
                            }
                        }

                        .listen-music {
                            color: #8f8aa7;
                            white-space: break-spaces;

                            .icon-rating {
                                color: #529f75;
                            }
                        }
                    }
                }

                .author-music {
                    padding: 4%;
                    background-color: #fff;

                    .info-author {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .image-author {
                            img {
                                width: 30px;
                                height: 30px;
                                border-radius: 50%;
                            }
                        }

                        .name-author {
                            color: #8f8aa7;
                        }

                        .price-music {
                            color: #8f8aa7;
                            text-decoration: line-through;
                        }

                        .promo-price {
                            color: #f58c1e;
                        }
                    }
                }
            }
        }
    }

    .list-creators {
        padding: 50px 15%;

        .header-list-creators {
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: space-between !important;

            .title {
                padding: 16px 0px;
            }

            .button-view {
                button {
                    color: red;
                    border-color: red;
                }

                :hover {
                    color: #fff;
                    background-color: red;
                }
            }
        }

        .body-list-creators {
            padding-top: 150px;

            .creator {
                width: 100%;
                padding: 10px 20px;
                border: 1px solid #d9d4d4;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                .image-creator {
                    height: 150px;
                    position: relative;

                    .background-image-one {
                        height: 200px;
                        width: 100%;
                        background-color: #08ac7a;
                        z-index: 2;
                        top: -40px;
                        position: absolute;
                    }

                    .background-image-two {
                        height: 200px;
                        width: 100%;
                        background-color: #575278;
                        z-index: 2;
                        top: -40px;
                        position: absolute;
                    }

                    .background-image-three {
                        height: 200px;
                        width: 100%;
                        background-color: #f28921;
                        z-index: 2;
                        top: -40px;
                        position: absolute;
                    }

                    .background-image-four {
                        height: 200px;
                        width: 100%;
                        background-color: #fdbd65;
                        z-index: 2;
                        top: -40px;
                        position: absolute;
                    }

                    .background-image-five {
                        height: 200px;
                        width: 100%;
                        background-color: #ed6660;
                        z-index: 2;
                        top: -40px;
                        position: absolute;
                    }

                    .background-image-six {
                        height: 200px;
                        width: 100%;
                        background-color: #8f9099;
                        z-index: 2;
                        top: -40px;
                        position: absolute;
                    }

                    .ava-creator {
                        display: flex;
                        justify-content: center;

                        img {
                            width: 240px;
                            height: 280px;
                            object-fit: fill;
                            position: absolute;
                            top: -120px;
                            z-index: 3;
                            filter: drop-shadow(0px 8px 24px rgb(54, 50, 50));
                        }
                    }
                }

                .body-creator {
                    .description-creator {
                        color: #9993af;
                    }
                }
            }
        }

        .slogan {
            background-color: #fef0ef;
            margin: 50px 0px;
            padding: 5%;

            .title-slogan {
                .text-slogan {
                    font-size: 2.5rem;
                }

                .text-author {
                    font-size: 1rem;

                    .straight-dash {
                        width: 1.5px;
                        background-color: #000000;
                    }
                }
            }

            .image-slogan {
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .icon-play {
                    z-index: 2;
                    position: absolute;
                    width: 60px;
                    top: 80%;
                    left: 80%;
                    cursor: pointer;
                }
            }
        }
    }

    .choice-course {
        padding: 50px 15%;

        .title-choice-course {
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: space-between !important;

            .title {
                padding: 16px 0px;
            }

            .button-view {
                button {
                    color: red;
                    border-color: red;
                }

                :hover {
                    color: #fff;
                    background-color: red;
                }
            }
        }

        .list-lessons {
            #carousel-2 {
                padding-bottom: 40px;
                position: relative;
                align-items: space;
            }

            .carousel-control-prev {
                height: 30px;
                position: absolute;
                top: 100%;

                .carousel-control-prev-icon {
                    width: 40px;
                    height: 40px;
                    background-image: url("~/assets/images/icon_prev.png");
                }

                .carousel-control-prev-icon:hover {
                    content: "<";
                    font-size: 55px;
                    color: orange;
                }
            }

            .carousel-control-next {
                height: 30px;
                position: absolute;
                top: 100%;

                .carousel-control-next-icon {
                    width: 40px;
                    height: 40px;
                    background-image: url("~/assets/images/icon_next.png");
                }
            }

            .carousel-indicators {
                position: absolute;
                top: 100%;

                li {
                    width: 100%;
                    background-color: #ffa5000d;
                }

                .active {
                    background-color: orange;
                }
            }
        }

        .info-music {
            border-radius: 10px;
            filter: drop-shadow(0px 8px 24px rgba(100, 100, 111, 0.2));
            text-shadow: 0 0 black;

            .header-info {
                background-color: #fff;
                border-bottom: 0.5px solid #7e7d7d;
                padding: 4% 0%;

                .music-image {
                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: contain;
                    }
                }

                .rate-music {
                    align-items: center;
                    flex-wrap: wrap;
                    text-align: center;
                    .rating-music {
                        color: #8f8aa7;

                        .icon-rating {
                            color: #f4b74a;
                        }
                    }

                    .view-music {
                        color: #8f8aa7;

                        .icon-rating {
                            color: #dd5214;
                        }
                    }

                    .listen-music {
                        color: #8f8aa7;
                        white-space: break-spaces;

                        .icon-rating {
                            color: #529f75;
                        }
                    }
                }
            }

            .author-music {
                padding: 4%;
                background-color: #fff;

                .info-author {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .image-author {
                        img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }
                    }

                    .name-author {
                        color: #8f8aa7;
                    }

                    .price-music {
                        color: #8f8aa7;
                        text-decoration: line-through;
                    }

                    .promo-price {
                        color: #f58c1e;
                    }
                }
            }
        }
    }

    .favorite-course {
        padding: 50px 15%;
        background-color: #fff;

        .header-favorite-course {
            display: flex;
            align-items: center;
            justify-content: space-between !important;
        }

        .body-favorite-course {
            .list-course {
                .info-course-1 {
                    .background-course {
                        border-radius: 5px;
                        padding: 15px 5px;
                        background-color: #efeff8;
                        cursor: pointer;
                    }

                    .b-icon {
                        background-color: #e2dcff;
                        border-color: #e2dcff !important;
                        color: #5949aa !important;
                        padding: 0.75rem;
                    }

                    .description-course {
                        color: #9993af;
                    }

                    :hover {
                        background-color: #5949aa;

                        .b-icon {
                            background-color: #fff;
                            border-color: #fff !important;
                            color: #5949aa !important;
                            padding: 0.75rem;
                        }

                        .title-course {
                            color: #fff;
                        }

                        .description-course {
                            color: #fff;
                        }
                    }
                }

                .info-course-2 {
                    .background-course {
                        border-radius: 5px;
                        padding: 15px 5px;
                        background-color: #fef3e9;
                        cursor: pointer;
                    }

                    .b-icon {
                        background-color: #fae0d1;
                        border-color: #fae0d1 !important;
                        color: #f08e51 !important;
                        padding: 0.75rem;
                    }

                    .description-course {
                        color: #9993af;
                    }

                    :hover {
                        background-color: #f68c20;

                        .b-icon {
                            background-color: #fff;
                            border-color: #fff !important;
                            color: #f08e51 !important;
                            padding: 0.75rem;
                        }

                        .title-course {
                            color: #fff;
                        }

                        .description-course {
                            color: #fff;
                        }
                    }
                }

                .info-course-3 {
                    .background-course {
                        border-radius: 5px;
                        padding: 15px 5px;
                        background-color: #dcf7fe;
                        cursor: pointer;
                    }

                    .b-icon {
                        background-color: #bbf0fe;
                        border-color: #bbf0fe !important;
                        color: #20b3ec !important;
                        padding: 0.75rem;
                    }

                    .description-course {
                        color: #9993af;
                    }

                    :hover {
                        background-color: #20b3ec;

                        .b-icon {
                            background-color: #fff;
                            border-color: #fff !important;
                            color: #20b3ec !important;
                            padding: 0.75rem;
                        }

                        .title-course {
                            color: #fff;
                        }

                        .description-course {
                            color: #fff;
                        }
                    }

                }

                .info-course-4 {
                    .background-course {
                        border-radius: 5px;
                        padding: 15px 5px;
                        background-color: #e5fae9;
                        cursor: pointer;
                    }

                    .b-icon {
                        background-color: #cef5d7;
                        border-color: #cef5d7 !important;
                        color: #62d56f !important;
                        padding: 0.75rem;
                    }

                    .description-course {
                        color: #9993af;
                    }

                    :hover {
                        background-color: #62d56f;

                        .b-icon {
                            background-color: #fff;
                            border-color: #fff !important;
                            color: #62d56f !important;
                            padding: 0.75rem;
                        }

                        .title-course {
                            color: #fff;
                        }

                        .description-course {
                            color: #fff;
                        }
                    }

                }
            }
        }
    }

    .online-coaching-lessons {
        padding: 50px 15%;
        background-color: #fef0ef;
        text-align: center;
        .button-join {
            button {
                border-color: #f66962;
                color: #f66962;
            }
            :hover {
                color: #fff;
                background-color: #f66962;
            }
        }
    }

    .top-education {
        padding: 50px 15%;
        .title-top-education {
            display: flex;
            align-items: center;
            justify-content: space-between !important;
        }

        .list-offer-educations {
            .job-education {
                padding: 0 15px;
                text-shadow: 0 0 black;
                .offer-education-1 {
                    background-color: #ffffff;
                    position: relative;
                    .background-offer-education {
                        height: 100%;
                        width: 100%;
                        background-color: #f5ece6;
                        position: absolute;
                        z-index: 2;
                        clip-path: polygon(23% 62%, 76% 44%, 100% 59%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 54%);
                    }
                    .info-offer-education {
                        padding: 20px 10px 20px 40px;
                        z-index: 4;
                        .title-discount {
                            color: #8f8aa7;
                        }
                        .title-offer {
                            font-size: 20px;
                            font-weight: 700;
                        }
                        .total-discount{
                            background-color: #b3a092;
                            border-radius: 10px;
                            position: absolute;
                            left: 0;
                            top: 60%;
                            padding: 5px;
                            width: 70%;
                            .text-discount{
                                text-align: center;
                                color: #ffffff;
                            }
                            .number-discount {
                                color: #ffffff;
                                font-size: 30px;
                                text-align: center;
                            }
                        }
                    }

                    .image-offer-education {
                        padding: 20px 10px 0 10px;
                        z-index: 4;
                        img {
                            width: 100%;
                            object-fit: fill;
                            height: 100%;
                        }
                    }
                }

                .offer-education-2 {
                    background-color: #ffffff;
                    position: relative;
                    .background-offer-education {
                        height: 100%;
                        width: 100%;
                        background-color: #e3eef2;
                        position: absolute;
                        z-index: 2;
                        clip-path: polygon(23% 62%, 76% 44%, 100% 59%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 54%);
                    }
                    .info-offer-education {
                        padding: 20px 10px 20px 40px;
                        z-index: 4;
                        .title-discount {
                            color: #8f8aa7;
                        }
                        .title-offer {
                            font-size: 20px;
                            font-weight: 700;
                        }
                        .total-discount{
                            background-color: #6492a0;
                            border-radius: 10px;
                            position: absolute;
                            left: 0;
                            top: 60%;
                            padding: 5px;
                            width: 70%;
                            .text-discount{
                                text-align: center;
                                color: #ffffff;
                            }
                            .number-discount {
                                color: #ffffff;
                                font-size: 30px;
                                text-align: center;
                            }
                        }
                    }

                    .image-offer-education {
                        padding: 20px 10px 0 10px;
                        z-index: 4;
                        img {
                            width: 100%;
                            object-fit: fill;
                            height: 100%;
                        }
                    }
                }

                .offer-education-3 {
                    background-color: #ffffff;
                    position: relative;
                    .background-offer-education {
                        height: 100%;
                        width: 100%;
                        background-color: #f5ede5;
                        position: absolute;
                        z-index: 2;
                        clip-path: polygon(23% 62%, 76% 44%, 100% 59%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 0 54%);
                    }
                    .info-offer-education {
                        padding: 20px 10px 20px 40px;
                        z-index: 4;
                        .title-discount {
                            color: #8f8aa7;
                        }
                        .title-offer {
                            font-size: 20px;
                            font-weight: 700;
                        }
                        .total-discount{
                            background-color: #df4260;
                            border-radius: 10px;
                            position: absolute;
                            left: 0;
                            top: 60%;
                            padding: 5px;
                            width: 70%;
                            .text-discount{
                                text-align: center;
                                color: #ffffff;
                            }
                            .number-discount {
                                color: #ffffff;
                                font-size: 30px;
                                text-align: center;
                            }
                        }
                    }

                    .image-offer-education {
                        padding: 20px 10px 0 10px;
                        z-index: 4;
                        img {
                            width: 100%;
                            object-fit: fill;
                            height: 100%;
                        }
                    }
                }

            }
            #carousel-3 {
                padding-bottom: 40px;
                position: relative;
                align-items: space;
            }

            .carousel-control-prev {
                height: 30px;
                position: absolute;
                top: 100%;

                .carousel-control-prev-icon {
                    width: 40px;
                    height: 40px;
                    background-image: url("~/assets/images/icon_prev.png");
                }

                .carousel-control-prev-icon:hover {
                    content: "<";
                    font-size: 55px;
                    color: orange;
                }
            }

            .carousel-control-next {
                height: 30px;
                position: absolute;
                top: 100%;

                .carousel-control-next-icon {
                    width: 40px;
                    height: 40px;
                    background-image: url("~/assets/images/icon_next.png");
                }
            }

            .carousel-indicators {
                position: absolute;
                top: 100%;

                li {
                    width: 100%;
                    background-color: #ffa5000d;
                }

                .active {
                    background-color: orange;
                }
            }
        }

    }

}