.header {
    height: 100px;
    background-color: #efeff7;
    align-items: center;
    display: flex;
    .menu-web-pc {
        width: 100%;
        padding: 0 15%;
        .navbar {
            position: sticky;
            top: 0px;
            width: 100%;
            .navbar-nav {
                font-size: 1.1rem;
                grid-gap: 0 25px;
                gap: 0 25px;
                .icon-header {
                    display: flex;
                    align-items: center;
                    grid-gap: 0 25px;
                    gap: 0 25px;
                }
            }
            .info-account {
                .avatar-user {
                    width: 40px;
                    border-radius: 50%;
                }
                
            }
        }
        @media screen and (max-width: 1024px) {
            display: none;
        }

    }

    .menu-web-mobile {
        display: none;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 1024px) {
            display: flex;
        }
        .logo-web {
            img {
                height: 100px;
            }
        }

        .button-menu {
            .menu-web {
                .item-menu {
                    font-size: 2rem;
                    padding: 5px;
                    border-top: 0.5px solid black;
                }
                .muti-language {
                    display: flex;
                    align-items: center;
                    img {
                        width: 50px;
                    }
                    a {
                        color: black !important;
                    }
                }
            }
        }
    }
    
}